# Ignore macOS system files
.DS_Store

# Ignore node_modules for Node.js projects
node_modules/

# Ignore Python compiled files
*.pyc
__pycache__/
.ipynb_checkpoints/

# Ignore log files
# *.log

# Ignore environment files
.env

# data files
*.cpg
*.dbf
*.prj
*.shp
*.shx
*.xml
*.txt
*.gpkg
*.kmz
*.cfg

*.h5
*.json
*.pdf

*.csv
*.xlsx

*.pbf
*.html
*.log
*.baiduyun.uploading.cfg

# training outputs
param/
eval/logs/

# LaTeX build artifacts
manuscript/*.tex
manuscript/*.pdf
manuscript/*.aux
manuscript/*.bbl
manuscript/*.blg
manuscript/*.fdb_latexmk
manuscript/*.fls
manuscript/*.lof
manuscript/*.lot
manuscript/*.out
manuscript/*.toc

config_template_hyperparams.py
*.png
!manuscript/mukara.png
!manuscript/framework.pdf
